# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Environment variables
.env

# User uploaded files
media/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/